<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/assets/libraries/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/libraries/material-icon/css/material-icon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/layouts/private.css">

  <script src="/assets/libraries/jquery/jquery-3.6.1.min.js"></script>
  <script src="/assets/libraries/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/script/helpers.js"></script>
  @!section('css')
  <title>{{ title }}</title>
</head>
<body>
  <main>
    <nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar">
      <div id="toggle">
        <small>
          <strong>
            <>
          </strong>
        </small>
      </div>
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Ta Pago</span>
      </a>
      <hr>
      <br>
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="/" class="nav-link text-white d-flex align-items-center {{ (request.matchesRoute('dashboard')) ? 'active' : 'inactive' }}">
            <span class="me-2 material-symbols-outlined">dashboard</span>
            Dashboard
          </a>
        </li>
        <li>
          <a href="/expenses" class="nav-link text-white d-flex align-items-center {{ (request.matchesRoute(['/expenses', '/expenses/create', '/expenses/:id/create', '/expenses/:id/edit'])) ? 'active' : 'inactive' }}">
            <span class="me-2 material-symbols-outlined">payments</span>
            <span>Despesas</span>
          </a>
        </li>
      </ul>
      <hr>
      <div id="user">
        <a href="/me" class="text-white d-flex align-items-center text-decoration-none">
          <span class="me-2 material-symbols-outlined">person</span>
          <span>{{ auth.user.name }}</span>
        </a>
      </div>
      <hr>
      <a href="/auth/logout" class="text-white d-flex align-items-center text-decoration-none">
        <span class="me-2 material-symbols-outlined">logout</span>
        <span>Sair</span>
      </a>
      <hr>
      <footer class="text-center">
        <small>Ta Pago <br /> Todos os direitos reservados.</small>
      </footer>
    </nav>
    <div id="content">
      <div class="container">
        @!section('content')
      </div>
    </div>
  </main>

  <script>
    $("#toggle").click(() => {
      const sidebar = $('#sidebar')
      sidebar.toggleClass('hide')
    })
  </script>
</body>
</html>
